.banner{
  max-width: 1400px;
  margin: 0 auto;
  height: 100vh;
  background-image: url(/public/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.banner_conteudo{
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.banner_conteudo h1 {
  font-size: 48px;
  color: #388d5d;
}
.banner_conteudo p{
  font-size: 24px;
  max-width: 800px;
  color: #5a431b;
}
.banner_conteudo a {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #5a431b;
  color: #d6a34a;
  font-weight: 600px;
  align-self: flex-start;
  border-radius: 5px;
  margin-top: 20px;
}

